*{
    margin:0 auto;
    padding:0px;
    max-width:1500px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
}
.cabeca{
    height:40px;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    background-color: rgba(240, 248, 255, 0);
}
.logo{
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo span{
    color: red;
}
.listas a{
    text-decoration: none;
    padding: 0px 5px;
    font-size: 18px;
    color: white;
}
.banner{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    color: white;
    background-color: black;
}
.imagem{
    width: 400px;  
}
.img-perfil{
    border-radius: 100%;
}
.texto{
    text-align: center;
}
.img-perfil{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:0px) and (max-width:500px){
    .banner{
        height: 550px;
    }
   .texto{
    font-size:22px;
   }
   .imagem{
    width: 300px;  
    }
}
@media screen and (min-width:501px) and (max-width:800px){
    .banner{
        height: 640px;
    }
   .texto{
    font-size:24px;
   }
   .imagem{
    width: 350px;  
    }
}
@media screen and (min-width:801px) and (max-width:1500px){
    .banner{
        height: 660px;
    }
   .texto{
    font-size:30px;
   }
}
.limitador{
    max-width: 600px;
}
.secao{
    text-align: center;
}
.sobre{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.945);
}
